<html>
  <h1>Enter a Studio</h1>
  <div>
    <form action="/subCode" method="post">
      <input type="text" placeholder="Studio Code..." name="sCode"/>
      <input type="submit" value="Submit"/>
    </form>
  </div>
</html>
