<html id="page">
  <h1 id="title">Gain: Virtual Studio</h1>
  <div id="menuContainer">
    <a href="/studio"><button class="select">Create</button></a>
    <a href="/code"><button class="select">Join</button></a>
  </div>
</html>
